<header>

</header>
<main>
  <section name="Trabajos">
    <div class="perfil bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 pt-4"></div>
          <div class="col-md-8 pb-5">
            <h1 class="pt-4">César Fernando Ortiz Durán</h1>
            <div class="perfil-descripcion">
              <h2>Bachiller en Ingeniería de Sistemas Computacionles</h2>
              <div>10 años de experiencia como desarrollor web, en las cuales trabajé con diversas tecnologías y lenguajes de porogramación tales como AS2, AS3, Flex, AIR, CSS, HTML, Javascript, Jquery, Angular,SIG, PHP, .Net, MySql, SQL Server</div>
            </div>
            <div>
              <a href="#Trabajos" class="btn btn-sm btn-secondary">Trabajos</a><a href="#" class="ml-1 btn btn-sm btn-secondary">Experiencia Laboral</a><a href="#" class="ml-1 btn btn-sm btn-secondary">Estudios</a> 
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-foto"></div>
          </div>
  
        </div>  
      </div>

    </div>
  </section>
  <section name="Trabajos" class="bg-warning pt-5 pb-5">
    <div class="container">

      <div class="row">
        <div class="col-12 pb-4">
          <h1>Trabajos</h1>
        </div>
        <div class="col-sm-6">
          <div class="trabajo">
            <img src="assets/img/ssp.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="trabajo">
            <img src="assets/img/spp.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="trabajo">
            <img src="assets/img/puntasal.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="trabajo">
            <img src="assets/img/elhawaiano.jpg" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="trabajo">
            <img src="assets/img/stragos.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
</main>
<footer>

</footer>